/*
 * ==============================
 * ===== HEADER STYLES ==========
 * ==============================
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero-header {
    height: fit-content;
}

.menu-wrapper {
    width: 100%;
    height: 100%;
}

.header-img {
    background-image: url('../../../public/icons/header-bg.png');
    background-repeat: no-repeat;
    background-size: contain;
    /* height: 738px; */
    width: 100%; 
}

.nav-menu-container {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
}

.nav-menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 40%;
    margin-top: 35px;
    color: #FFF;
    font-size: 23px;
    font-family: 'Helvetic', sans-serif;
    font-weight: bold;
    list-style: none;
}

.nav-menu li {
    cursor: pointer;
    transition: .2s;
}

.nav-menu li:hover {
    border-bottom: 2px solid #FFF;
}

.hero-container {
    display: flex;
    padding: 0 90px;
}

.slogan-container {
    color: #FFF;
    margin-top: 15px;
    /* width: 723px; */
    max-height: 301px;
    font-weight: bold;
    font-family: 'Helvetic', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.slogan-container h1 {
    margin: 0;
    padding-right: 100px;
}

.slogan-container h2 {
    font-weight: normal;
    font-size: 18px;
    /* width: 500px; */
}

.slogan-container button {
    width: 337px;
    height: 62px;
    border-radius: 40px;
    background-color: #CC3D4E;
    color: #FFF;
    border: none;
    font-size: 25px;
    align-self: center;
    cursor: pointer;
    margin-right: 120px;
}

.company-logo {
    margin-top: 150px;
    width: 427px;
    height: 327px;
}

.scroll-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

.scroll-arrow {
    width: 40px;
    height: 75px;
    align-self: center;
    margin: 0;
}

/* MOBILE STYLES */
@media screen and (max-width: 781px) {
    .nav-menu-container {
        display: flex;
        width: 100%;
        height: 200px;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
        background-color: #00247D;
    }

    .nav-menu {
        width: 100%;
        height: 100%;
        padding: 10px 0;
        display: flex;
        flex-direction: column;
        background-color: #00247D;
        margin: 0;
        border-bottom: 1px solid rgba(255,255,255,.5);
    }

    .nav-menu li {
        text-align: center;
        vertical-align: baseline;
        padding: 5px;
        margin: 0;
        width: 100%;
        height: 100%;
        border-bottom: 1px solid rgba(255,255,255,.5);
    }

    .nav-menu li:hover {
        transform: translateY(-5px);
    }

    .nav-menu li:last-child {
        border-bottom: unset;
    }

    .menu-wrapper {
        height: 1100px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .header-img {
        background-image: unset;
    }

    .hero-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        padding: 20px;
        height: 65%;
    }

    .company-logo {
        order: 1;
        margin: 0;
    }

    .slogan-container {
        color: #00247D;
        margin-top: 15px;
        width: 100%;
        height: 100%;
        font-weight: bold;
        font-family: 'Helvetic', sans-serif;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        order: 2;
    }

    .slogan-container h1 {
        padding: 0;
    }

    .slogan-container h2 {
        margin: 0;
    }

    .slogan-container button {
        margin: 0;
    }
}
